<h1>Bienvenido de nuevo <%= current_user.name %></h1>
<p>introduce una nueva url a recortar.</p>
<form action="/urls" method="post">
  <br>
  <input type="text" name="user_input">
  <input type="submit" value="Bitly!">
</form>
<br>
<form action="/logout" method="get">
    <input type="submit" value="Logout"><br>
  </form>
<br>
<form action="/urls" method="post">
  <br>
<input type="submit" value="Mostrar los bitly's creados.">
</form>

